@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p><a href="index.html">Home</a></p>
<h1>JSON Builder</h1>

<div>
    <input type="text" id="criteria-field">
    <input type="text" id="criteria-operator">
    <input type="text" id="criteria-value">
    <button id="print-button">Print</button>
    <button id="clear-button">Clear</button>
    <button id="display-json">Display JSON</button>
</div>

<table data-toggle="table">
    <thead>
        <tr>
            <th>Field</th>
            <th>Operator</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody id="json-builder">
        <!-- <tr>
          <td>1</td>
          <td>Item 1</td>
          <td>$1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Item 2</td>
          <td>$2</td>
        </tr> -->
    </tbody>
</table>

<div id="display-area">

</div>
<script src="~/js/CriteriaBuilder.js"></script>