
@model CategoryNavViewModel

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @Model.ProfileActive" asp-controller="Practitioner" asp-action="Details" asp-route-id=@Model.EmployeeId>Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @Model.ExperienceActive" asp-controller="Experience" asp-action="AccountServed" asp-route-id=@Model.EmployeeId>Experiences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Career Interests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Certificates and Competencies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Performance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Development Programs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Comments</a>
        </li>
    </ul>