
@model AccountServedViewModel
@{
    ViewData["Title"] = $"{@Model.Employee.GetFullName()} Accounts Served";
}

<partial name="_CategoryNav" model=@Model.CategoryNav />

<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-4">
            <partial name="_EmployeeCard" model="@Model.Employee" />
        </div>
        <div class="col-8">
            <div class="row">
                <partial name="_ExperienceTabsNav" model=@Model.ExperienceTabNav />
            </div>
            <div class="row">
                <partial name="_AccountServedTable" model=@Model.AccountsServed />
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id-New">
                    New Account Served
                </button>

                <div class="modal fade" id="id-New" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <partial name="AccountServedEdit" model=@Model.NewAccountServed />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                @*<button type="button" class="btn btn-primary">Save changes</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>